# ==== 大模型 & 数据 ====
models/
!models/**/*.md

data/samples/*.mp4

*.gguf*
*.safetensors
*.ckpt
*.plan
*.onnx

# ==== Python / Conda ====
env/                   # 先忽略整目录
!env/conda/edge.yml    # 然后逐字保留这一个文件

__pycache__/
*.py[cod]

# ==== VSCode / OS ====
.vscode/
.DS_Store

# 运行产物
logs/
data/samples/*.srt
data/samples/*.summary.txt
# Conda lock / build cache
env/conda/*.lock

